/Antigravity.lnk
/desktop.ini
/Discord.lnk
/ELECTRICAL SCIENCE REPORT completed (1).docx
/GitHub Desktop.lnk
/Godmode.{ED7BA470-8E54-465E-825C-99712043E01C}
/Google Cloud SDK Shell.lnk
/html-css-revision
/java
/LABWORK
/New folder
/photo-album
/pokedex
/questionarre.pdf
/Riot Logs
/Valorant Tracker.lnk